<ion-header>
  <ion-toolbar>
    <ion-title>
      Book List
    </ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/form']">Add Book</ion-button>
</ion-header>

<ion-content>
    <ion-card *ngFor="let book of books">
      <ion-card-header>
        <img src="https://via.placeholder.com/50">
      </ion-card-header>
      <ion-card-content>
          <p style="float:left;"> {{ book?.number }} </p>
          <h2 style="float: left; margin-left: 10px;">{{ book?.name }} </h2>
          <h5 style="align-self: center">{{ book?.author }}</h5>
          <p style="float: right;">{{ book?.blurb }}</p>
    
      </ion-card-content>
      
    </ion-card>
</ion-content>

